@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$button-color:#544CAC;
$background-color: #F5F7FF;
$text-color: #353434;

$logo-font: 'Odibee Sans', sans-serif;
$button-text-font: 'Open Sans', sans-serif;

$table-border: 1px solid grey;

@mixin horizontal { 
    display: flex;
    justify-content: space-around;
}

@mixin mainTableFeatures {
    border: $table-border;
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    
}

* {
    box-sizing: border-box;
}

.table__header {
    border: $table-border;
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #544cac78;
    margin-top: 150px;
}

.table__header__firstrow {
    border-radius: 25px 25px 0 0;
}

.table__header_cell {
    padding: 1%;
    width: calc(100%/6);
}

.table {
    border: $table-border;
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.table__cell{
    padding: 1%;
    border: $table-border;
    width: calc(100%/6);
    vertical-align: center;
    text-align: center;
    input{
        border: none;
        text-align: center;
    }
}

.table__button{
    cursor: pointer;
    background-color: $button-color;
    color: #F5F7FF;
    font-family: $button-text-font;
    font-weight: bolder;
    border: none;
    border-radius: 47px;
    padding: 5%;
    width: 100px;
    height: 39px;
    transition: transform 0.7s ease;
    &:hover {
        transform: scale(1.1);
    }
    &:active {
        background-color: rgb(191, 113, 251);
    }
}

.table__adding {
    @include mainTableFeatures;
    margin-bottom: 200px;
}